/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    /* font-family: Arial, sans-serif; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color:white;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #b0aeae;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input {
    margin-bottom: 15px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.extra-links {
    display: flex;
    justify-content: space-between;
}

.extra-links a, .extra-links button {
    font-size: 12px;
    text-decoration: none;
    color: #007BFF;
    background: none;
    border: none;
    cursor: pointer;
}