#container{
    display: flex;
    height: 100vh;
    width: 100%;
}

#leftNavbard{
    max-width: 10%;
    height: 100vh;
}

#right{
    width:90%;
    display: flex;
}

#right #topNavbar{
    height: 10%;
    width: 100%;

}

#right #content{
    min-height: 90%;
    width: 100%;
}