/*Edit or remove the solid black borders later. Added only for ease of reference*/

/*CSS related to the main banner starts*/
#banner{
    display: flex;
    width: 100%;
    margin: 2% 0 2% 0;
    overflow: hidden;
    border-radius: 3rem;
    background-color: #639CD9;
    /*border: solid black;*/
    box-shadow: 5px 10px #639cd936;
}

#bannerImage{
    width: 80%;
    margin-right: 1%;
}

#bannerText{
    width: 20%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;

    color: white;
    text-align: left;
    font-size: 36px;
}

#banner button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #003e80;
}

#banner button:hover{
    background-color: #003e8079;
    cursor: pointer;
}

/*CSS related to the main banner ends*/

/*CSS related to the products list starts*/

#productList{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    /*padding: 10px 0 10px 0;*/

}

.product-card{
    background-color: #639CD9;;
    min-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    border-radius: 3rem; 
}

.product-card a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-image{
    width: 100%;
    height: 180px;
    margin: 10% 10% 0 10%;
    border: solid white;
    border-radius: 10px;
    
}

.product-card-image:hover{
    border: solid black;
}

.product-card-text{
    width: 100%;
}

/*CSS to change the text within the product cards*/
.product-card h3{
    margin:10% 10% 1% 10%;
    color: #ffffff;
    font-weight: 900;
}

.product-card hr{
    margin: 0 10% 0 10%;
}

.product-card p{
    margin:1% 10% 10% 10%;
    color: #ffffff;
    text-align: center;
}

/*CSS related to the products list ends*/