#footer{
    display: flex;
    background-color: #0084ff97;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    height: 10vh;
}

#footerMenu{
    display: flex;
    justify-content: space-around;
    width: 25%;
}