#header{
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
}

#headerMenu{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

#header #logo{
    margin-left: 2%;
    
}

#siteHeaderClaim{
    margin-right: 2%;
    background-color: aquamarine;
}

