/*overall site header CSS settings*/
#siteHeader{
    display: flex;
    background-color: #0084ff97;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    height: 100%;
}

/*The menu located in the center of the site header*/
#siteHeaderMenu{
    display: flex;
    justify-content: space-around;
    width: 25%;
    background-color: rgba(0, 115, 255, 0.062);
}

/*the container surrounding the actual logo image*/
#siteHeader #logo{
    margin-left: 2%;
    height: 11vh;
    
    display: flex;
    align-items: center;
}

/*The actual logo image*/
#siteHeader #logo img{
    height: 90%;
    border-radius: 100%;
    opacity: 0.7;
}


/*The container that has the highlighted "Make a Claim" button and the "Sign In" button*/
#siteHeaderRight{
    display: flex;
    margin-right: 3%;
    height: 100%;
}

#siteHeaderRight button{
    text-decoration: none;
    border: none;
}

/*The highlighted make a claim button*/
#siteHeaderClaim{
    margin-right: 2%;
    color: white;
    background-color: rgb(0, 0, 0);
}

#siteHeaderClaim:hover{
    color: black;
    background-color: rgba(114, 176, 252, 0.719);
}

/*Sign in Button specific*/
#siteHeaderSignIn{
    color: white;
    background-color: black;
}

#siteHeaderSignIn:hover{
    color: black;
    background-color: rgba(114, 176, 252, 0.719);
}


/*For the anchor tags*/
a{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

a:hover{
    color: rgb(0, 31, 70);
}

