<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/CSS/empDashboardNavBar.css">
</head>
<body>
    <div class="sidenav">
        <div style="text-align: center;">
            <img src="../../Assets/Images/logo_bird.jpg" alt="logo of a bird" id="logo" >
        </div>
        <a href="#">Dashboard</a>
        <a href="#">Inquiry</a>
        <a href="#">Claim Applications</a>
        <a href="#">Policy Applications</a>
        
        <a id="logOut" href="#">Log Out</a>
    </div>
</body>
</html>