<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add Page Appropriate Title - Amzal</title>
        <link rel="stylesheet" href="../Assets/CSS/header.css">
	</head>
	<body>
        <!--Header of the website-->
        <header id="header">
            <div id="logo">
                <img src="../Assets/Images/sample_logo_bird.jpeg" alt="log" width="100px">
            </div>
            <div id="headerMenu">
                <div class="site-header-button" id="homeButton"><a href="">Home</a></div>
                <div class="site-header-button" id="productsDrop"><a href="">Products</a></div>
                <div class="site-header-button" id="aboutButton"><a href="">About</a></div>
                <div class="site-header-button" id="contactButton"><a href="">Contact Us</a></div>
            </div>
            

            <div id="siteHeaderClaim"><a href="">Make a Claim</a></div>
        </header>
	</body>
</html>