<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add Page Appropriate Title - Amzal</title>
        <link rel="stylesheet" href="../Assets/CSS/header.css">
	</head>
	<body>
        <!--Top Nav Bar of the website-->
        <div id="site-top-nav">
            <div id="logo">
                <img src="../../Assets/Images/sample_logo_bird.jpeg" alt="log" width="100px">
            </div>
            <div id="site-top-menu">
                <div class="site-top-nav-button" id="home-button"><a href="">Home</a></div>
                <div class="site-top-nav-button" id="products-drop"><a href="">Products</a></div>
                <div class="site-top-nav-button" id="about-button"><a href="">About</a></div>
                <div class="site-top-nav-button" id="contact-button"><a href="">Contact Us</a></div>
            </div>
            

            <div id="claim-button"><a href="">Make a Claim</a></div>
        </div>
	</body>
</html>