<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add Page Appropriate Title - Amzal</title>
        <link rel="stylesheet" href="/Frontend/Assets/CSS/main.css">
        <link rel="stylesheet" href="../Assets/CSS/siteHeader.css">
	</head>
	<body>
        <!--Header of the website-->
        <header id="siteHeader">
            <div id="logo">
                <img src="../Assets/Images/logo_bird.jpg" alt="log" width="100px">
            </div>
            <div id="siteHeaderMenu">
                <div class="site-header-button" id="homeButton"><a href="">Home</a></div>
                <div class="site-header-button" id="productsDrop"><a href="">Products</a></div>
                <div class="site-header-button" id="aboutButton"><a href="">About</a></div>
                <div class="site-header-button" id="contactButton"><a href="">Contact Us</a></div>
            </div>
            
            <div id="siteHeaderRight">
                <div id="siteHeaderClaim"><a href="">Make a Claim</a></div>

                <div id="siteHeaderSignIn">Sign in</div>
            </div>
            
        </header>
	</body>
</html>