<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add Page Appropriate Title - Amzal</title>
        <link rel="stylesheet" href="../Assets/CSS/main.css">
        <link rel="stylesheet" href="../Assets/CSS/siteHeader.css">
	</head>
	<body>
        <!--Header of the website-->
        <header id="siteHeader">
            <div id="logo">
                <img src="../Assets/Images/logo_bird.jpg" alt="log" width="100px">
            </div>
            <div id="siteHeaderMenu">
                <div class="site-header-button" id="homeButton"><a href="http://localhost/IWTProject/IWT_LifeInsurance_SLIITY1S2/Frontend/Pages/site.html">Home</a></div>
                <div class="site-header-button" id="aboutButton"><a href="http://localhost/IWTProject/IWT_LifeInsurance_SLIITY1S2/Frontend/Pages/siteAboutUs.html">About</a></div>
                <div class="site-header-button" id="contactButton"><a href="http://localhost/IWTProject/IWT_LifeInsurance_SLIITY1S2/Frontend/Pages/siteContact.html">Contact Us</a></div>
            </div>
            
            <div id="siteHeaderRight">
                <a href="http://localhost/IWTProject/IWT_LifeInsurance_SLIITY1S2/Frontend/Pages/Dashboard/claimForm.html"><button id="siteHeaderClaim">Make a Claim</button></a>

                <a href="http://localhost/IWTProject/IWT_LifeInsurance_SLIITY1S2/Frontend/Pages/login.html"><button id="siteHeaderSignIn">Sign in</button></a>
            </div>
            
        </header>
	</body>
</html>