<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add Page Appropriate Title - Amzal</title>
        <link rel="stylesheet" href="/Frontend/Assets/CSS/main.css">
        <link rel="stylesheet" href="../Assets/CSS/siteFooter.css">
	</head>
	<body>
        <!--Footer of the website-->
        <footer id="footer">
            
            <div id="footerMenu">
                <div class="site-footer-button" id="homeButton"><a href="">Home</a></div>
                <div class="site-footer-button" id="productsDrop"><a href="">Products</a></div>
                <div class="site-footer-button" id="aboutButton"><a href="">About</a></div>
                <div class="site-footer-button" id="contactButton"><a href="">Contact Us</a></div>
            </div>
              
        </footer>
	</body>
</html>