<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Assets/CSS/dashboardNavBar.css">
</head>
<body>

    <nav>
        <div class="sidenav">
            <div style="text-align: center;">
                <img src="../../Assets/Images/sample_logo_bird.jpeg" alt="" id="logo" >
            </div>
            <a href="#">Dashboard</a>
            <a href="#">Profile</a>
            <a href="#">Beneficiary</a>
            <a href="#">Payments</a>
            <a href="#">Support</a>
            <a href="#">Settings</a>
            <a id="logOut" href="#">Log Out</a>
        </div>
    </nav>
   <!-- <div class="main_content">
        <div class="header">
            
            <ul class="ul">
                <li>One Life Insurance</li>
                <div class="right-align">
                    <button>Claim</button>
                    <li>User Name</li>
                </div>
                
            </ul>
        </div>
    </div> -->
    
    <div class="header">
        <h1 class="heading">One Life Insurance</h1>
        <div>
            <button class="button">Claim</button>
            <span class="username">Username</span>
        </div>

    </div>

    
</body>
</html>